@section scripts{
    <script src="~/Scripts/angular_app.js"></script>
}
<br/>
<div class="md-whiteframe-6dp" ng-app="app" style="overflow-y:auto; max-height:450px;">
    <div ng-controller="ResumeController" id="ResumesDiv" >
        <p>
            <input type="text" placeholder="Поиск резюме" ng-model="searchResume" />
        </p>
        <table class="table">
            <tr>
                <th>
                    <a href="#" ng-click="sortType = 'AddDate'; sortReverse = !sortReverse">
                        Дата добавления
                        <i ng-show="sortType == 'Date' && !sortReverse" class="fa fa-caret-down"></i>
                        <i ng-show="sortType == 'Date' && sortReverse" class="fa fa-caret-up"></i>
                    </a>
                </th>
                <th>Заголовок</th>
                <th>Информация</th>
                <th>Ссылка на E1</th>
            </tr>
            <tr ng-repeat="r in resumes | filter : searchResume  | orderBy:sortType:sortReverse ">
                <td>{{r.AddDate | date:'yyyy-MM-dd'}}</td>
                <td>{{r.Header}}</td>
                <td>{{r.Info}}</td>
                <td><a href="https://ekb.zarplata.ru{{r.Url}}"><i class="fa fa-link"></i></td>
            </tr>
        </table>
    </div>
</div>
